.comite-organizador{
  display: flex;
  align-items: center;
  justify-content: center;
}

.organizador-foto-nome{
  margin-right: 10px;
  border: 1px solid #D9D9D9;
  background-color: #fff;
  width: 20%;
  height: 200px;
}

.organizador-foto {
  border: 1px solid #D9D9D9;
  border-radius: 10px;
  width: 100px;
  height: 100px;
  margin-top: 10px;
}

.lista-paragrafo {
  text-align: left;
}

.organizador-foto-nome img {
  display: block;
  margin: auto;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .comite-organizador{
    display: inline;
    font-size: 14px;
  }

  .organizador-foto-nome {
    width: 100%;
    margin-top: 10px;
    height: 150px;
  }

  .organizador-foto{
    width: 55px;
    height: 55px;
  }
}