.comite-organizador, .organizador-foto-nome{
  display: flex;
  align-items: center;
  justify-content: center;
}

.organizador-foto-nome{
  margin-right: 10px;
}

.organizador-foto {
  width: 100px;
  height: 100px;
}

p {
  text-align: left;
}

img {
  margin-right: 10px;
}

@media (max-width: 480px) {
  .comite-organizador{
    display: inline;
    font-size: 14px;
  }
}