
.table_galeria {
    margin: 0 auto;
    border-collapse: collapse;
    border: none;
}

.td_galeria {
    width: 33.33%;
    text-align: center;
    border: none;
   
}

.tr_galeria:nth-child(even){
    background-color: transparent;
}


.min{
    width: 300px;
    margin: 10px;
    background: rgba(0, 0, 0, 0.5);
    border: 2px;
    border-radius: 10px;
}
.min:hover{
    opacity: 75%;
    
}

.lbox{
    visibility: hidden;
    opacity: 0;
}

.lbox:target{
    opacity: 1;
    visibility: visible;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(10,10,10,.7);
    position: fixed;
}

.box_img{
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img_center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    border: 2px solid;
    border-color: #ffffff ;
    border-radius: 10px;

}

.btn{
    color: #fff;
    font-family: 'Arial';
    text-decoration: none;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 40px;
    text-align: center;
}
#prev{
    left: 5%;
    top: 45%;
}

#next{
    right: 5%;
    top: 45%;
}

#close{
    top: 100px;
    right: 5%;
}