
.banner {
  height: 70vh;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  margin: auto;
  background-color: #e4cbfc;
}

.imagem {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-mask-image: -webkit-linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0.05)90%);
  mask-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.05)90%);
}



.botoes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 700px;
  margin: 7vh 0 0 21vw;
  position: absolute;
}

.botoes h1 {
  color: var(--title-color);
  text-shadow: var(--base-color) 1px 2px 3px
}

.button {
  background-color: #3666AF;
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
  display: flex;
  gap: 8px;
}

.button-small {
  background-color: hsl(var(--hue) 36% 30%);
  color: var(--text-color-light);
  height: 2rem;
  display: inline-flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 0.25rem;
  font: 500 .8rem var(--body-font);
  transition: background 0.3s;
}

.button:hover {
  background: #6A8DC3;
}

@media (max-width: 1200px) {
  .botoes {
    margin: 10vh 3vw 0 3vw;
  }

  .imagem {
    height: 100%;
    width: auto;
  }
}