.opcoesLancamento {
    display: flex;
    justify-content: space-between;
    max-width: 400px;
    margin: 40px auto 40px auto;
    flex-wrap: wrap;
    gap:20px;
}

.palcoLancamento {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-color: #fff;
}

.palcoLancamento img{
    position: absolute;
    transform: rotate(2deg); 
    left:23%;
    margin-top: -30px;
}

.palcoLancamento p{
    margin-left: 200px;
    margin-right: 40px;
}

@media (max-width: 1200px) {
    .palcoLancamento{
        justify-content: center;
        width: 90%;
    }

    .palcoLancamento img{
        position:relative;
        left: 0;
    }

    .palcoLancamento p{
        margin-left: 40px;
        margin-bottom: 0px;
    }
}