#localizacao {
    height: 100vh;
}

#mapa {
    height: calc( 100vh - 321px);
    border-top: 8px solid #D9D9D9;
    border-bottom: 8px solid #D9D9D9;
}

#content {
    width: 150px;
    text-align:center;
    font-size: 10px;
}