#localizacao {
    height: 70vh;
    margin-bottom: 200px;
}

#mapa {
    height: 100%;
    border-top: 8px solid #D9D9D9;
    border-bottom: 8px solid #D9D9D9;
}
#content {
    width: 150px;
    text-align:center;
    font-size: 10px;
}