#palestrantes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divData{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.divData p {
  font-family: 'Arimo', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #222;
  letter-spacing: 2px;
}

.divMarcador{
  height: 15px;
  width: 15px;
  border: 2px solid #3666AF;
  opacity: 0.8;
  margin-right: 15px;
  margin-top: 2px;
  background-color:#ccc;
}

.card {
  display: flex;
  width: 50%;
  margin: 20px;
  background-color: #fff;
  margin-left: 110px;
  margin-bottom: 110px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  }

  .card img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border: 8px solid #D9D9D9;
    transform: rotate(2deg);    
    margin-right: 2px;
    position: absolute;
    left:20%;
    margin-top: -40px;
  }

  .info {
    padding: 20px 40px 0px 10px;
    background-color: #fff;
    margin-left: 100px;
    min-height: 150px;
    overflow: auto;
    padding-bottom: 40px;
  }

  .card h2 {
    padding: 20px 6px;
    font-size: 28px;
    margin: 3%;
    color: #3666AF;
  }

  .card p {
    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #222;
    margin:0 0 0 7%;
    text-align: justify;
    line-height: 26px;
    tab-size: 4;
  }