
#programacao-Content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#programacao-Content table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    max-width: 1000px;
    margin-bottom: 35px;
    width: 100%;

    font-family: 'Arimo', sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 26px;
}

#programacao-Content td, th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

#programacao-Content td {
    width: 75%;
}

#programacao-Content tr:nth-child(even) {
    background-color: #eee;
}

#programacao-Content th[scope='col'] {
    background-color: #696969;
    color: #fff;
}

#programacao-Content th[scope='row'] {
    width: 20%;
    background-color: #d7d9f2;
}

#programacao-Content caption {
    padding: 10px;
    caption-side: top;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}
