.secao-rodape {
  background-color: var(--base-color);
  height: 300px;
  color: #F1FAF6;
  display: flex;
  align-items: center;
  justify-content: end;
}

.colunas{
  margin-right: 20px;
}

.coluna-icones{
  display: flex;
  align-items: center;
  just-content: space-evenly;
  margin-top: 20px;
}

.coluna-texto{
  margin-top: 50px;
}

#icone-instagram, #icone-youtube, #icone-uesc, #icone-capes, #icone-proex{
  color: #F1FAF6;
  font-size: 40px;
  margin-right: 10px;
}

.logo-rodape{
  color: #F1FAF6;
  font-size: 20px;
}

.logo-rodape-span{
  color: #F1FAF6;
  font-size: 20px;
  font-weight: 700;
}

.texto-rodape{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: left;
}

.voltar-para-topo {
  background-color: var(--base-color);
  border-radius: 65px;
  bottom: 14px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 3px 5px;
  color: var(--text-color-light);
  cursor: pointer;
  height: 40px;
  position: fixed;
  right: 22px;
  width: 40px;
  z-index: 3;
}

.voltar-para-topo::after {
  content: '▲';
  display: flex;
  justify-content: center;
  padding-left: 1px;
  padding-top: 8px;
}